<section class="bg-dark">

      <div class="container">
	      
	    <div class = "row">
		    
	    	<div class ="col-lg-6" id = "about">
			
			<h2>About me</h2>
			<hr class = "primary" align = "left" width = "50%"></hr>					
		        <p class = "font-weight-light tab"> I'm Brandon, a data scientist, full stack dev and aspiring tech VC currently based out of Waterloo, Ontario. Like many in the space, I started out with Physics and Math (I used
				to mess around with some extremely cold liquids and some even more extremely priced tubes) and eventually developed into a halfway competent engineer and data scientist. Along the way I picked up a considerable technical skillset and reaffirmed my passion for solving complex problems 
				in innovative ways. Since then, I've been lucky enough to meet and become involved with some amazingly brilliant people, while picking up experience doing all kinds of amazing software, data and machine learning work across a variety of sectors.
				Presently, I find myself finishing up my Master's in AI & Analytics at Queen's University, in addition to the number of projects and roles I currently have on the go. On the technical side, I'm heavily involved in the development of a suite of humanitarian data collection and analysis tools 
				with a team based out of the Harvard Humanitarian Initiative and I'm currently working on developing satellite image tech for the Canadian Red Cross as part of my Master's thesis. On the more business side of things, I am the present CDO of the Queen's University Alternative Assets Fund, Canada's only
				entirely student directed hedge fund and I'm currently in the midst of a venture capital fellowship with a growing fund based out of Palo Alto.
				</p>
		    
          <div class="call-to-action" id = "resume">						  
		  <h2>Resume</h2>
		  <hr class = "primary" align = "left" width = "50%"></hr>				  
            <a href="papers/resume.pdf" class="btn btn-primary btn-large btn-block btn-xl<i class = fa fa-download"><i/>pdf</a>
          </div> </div>		   
	     
	<div class ="col-lg-6">
		<br><br><br>
		     <img src="img/Headshot.jpg" class="img-thumbnail img-fluid">
		                                                               </div>
		
	   </div>
	</div>
      </div>
  </aside>
</section>
