<section class="bg-dark" id="about">
	
      <div class="container">
	      
	    <div class = "row">
		    
	    	<div class ="col-lg-6">
			<h1>About me</h1>
			<p class = "font-weight-light">I'm Brandon. I am a recent Queen's University grad with a background based in Physics, Mathematics and Statistics. Professionally, my passion lies in software development and  
			data analysis. I am most excited about my work when I am working to help find data and technology based solutions to real-world problems to help enrich the lives of others. I have a particular interest in
			healthcare, wellness and outreach based applications and it is my long term-goal to be able help bring data based problem solving and technical know-how to these areas.
			On the technical side of things, I have extensive experience working with large datasets, developing mathematical and computational models and applying machine learning concepts to a variety of problems.
			I am quite proficient with Python, HTML and CSS and and I am presently improving my ability with Java. If you scroll down you will find some examples of my more interesting projects, most notably my work on the SuperCOOP project; 
			a recreation of the 1972 Nobel Prize-winning BCS theory experiment.<br>
			
			On the more human side of things, I have always loved working with people and I do have some considerable experience in this regard. During my time at the KidsAbility Centre for Child Development (a wonderful
			NGO primarily concerned with the education and wellness of exceptional learners) I was fortunate enough to find myself interacting with clients, planning camps and simply managing the day to day of leading a team. 
			All in all this experience in management was extremely positive for me as a whole and something I would relish the opporunity to do again. My passion for working with clients has continued on into my current work
			where locating, forming and maintaing strong client relationships has been critical to my success as a freelancer. <br>
			 
			At the moment you'll find me doing some freelance web development work for several clients, I'm always in the market for new challenges and opportunties
			so please feel free to contact me if you have a project that you believe I can help with. You'll find some of my past projects below, feel free to 
			give me a shout if you have any questions about me, SuperCOOP or would just like to chat!
			</p>		    
		    </div>
	     
		<div class ="col-lg-6">				
		     <img src="img/Headshot.jpg" class="img-thumbnail img-fluid">
		    </div>
		
		</div>
	
	</div>

</section>
