<section class="bg-dark">

      <div class="container">
	      
	    <div class = "row">
		    
	    	<div class ="col-lg-6" id = "about">
			
			<h2>About me</h2>
			<hr class = "primary" align = "left" width = "50%"></hr>					
		        <p class = "font-weight-light tab"> I'm Brandon. IAMA a data scientist, full stack dev and aspiring VC currently based out of Waterloo, Ontario. 
				At the moment, I am currently finishing up my Master's in AI & Analytics at Queen's University while I work full-time on a number of projects and roles that I currently have on the go. On the technical side, I'm heavily involved in the development of a suite of humanitarian data collection and analysis tools 
				with a team based out of the Harvard Humanitarian Initiative and I'm currently working on developing satellite image tech for the Canadian Red Cross as part of my Master's thesis. On the more business side of things, I am the present CDO of the Queen's University Alternative Assets Fund, Canada's only
				entirely student directed hedge fund and I'm currently pursuing a VC fellowship with DigitalDx Ventures, a medical AI-focused fund based out of Palo Alto, California. I am particurlary interested in humanitarian tech, venture capital and both data science and engineering and am always happy to connect and 
				chat more about any and all of these topics. Please feel free to reach out, connect and shoot me a message on LinkedIn or Gmail anytime.
				</p>
		    
          <div class="call-to-action" id = "resume">						  
		  <h2>Resume</h2>
		  <hr class = "primary" align = "left" width = "50%"></hr>				  
            <a href="papers/resume.pdf" class="btn btn-primary btn-large btn-block btn-xl<i class = fa fa-download"><i/>pdf</a>
          </div> </div>		   
	     
	<div class ="col-lg-6">
		<br><br><br>
		     <img src="img/Headshot.jpg" class="img-thumbnail img-fluid">
		                                                               </div>
		
	   </div>
	</div>
      </div>
  </aside>
</section>
