<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">work in progress</p>
                

   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="images/asselin_mark.png" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>I am a 4th year undergraduate student with a passion for developing innovative solutions at the intersection of medicine, engineering, and computing. 
            My experience is primarily in the design and development of systems for image guided surgical interventions. I have participated in the translation of several surgical image guidance systems into clinical trials in the operating theatre.
            <br>
            Additionally, I have knowledge in creating machine learning systems within the medical context. I have worked with classical and deep learning based methods, as well as  served as a teaching assistant in multiple courses covering this material. My current work focuses on the application of machine learning to tissue classification on mass-spectrometry data acquired from cancerous tumors & their surrounding tissues.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Mark Asselin</span><br>
                     <span>mark.asselin@queensu.ca</span><br>
                     <span>Queen's School of Computing</span><br>
						   <span>Goodwin Hall, Rm 757<br>
                     </span><br>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="papers/resume.pdf" class="button"><i class="fa fa-download"></i>Download PDF Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->
                
                
                
                
       
                <a href="papers/resume.pdf" class="btn btn-default btn-xl<i class = fa fa-download"><i/>Resume .pdf</a>           
            </div>
        </div>
    </div>
</section>
