<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">I am a recent grad with a keen interest in developing data-based solutions for educational, healthcare and wellness-based applications. My experience and educational background is largely physics, mathematics, and statistics based with the bulk of my past projects stemming from these areas. I    </p>
                <a href="papers/resume.pdf" class="btn btn-default btn-xl<i class = fa fa-download"><i/>Resume .pdf</a>           
            </div>
        </div>
    </div>
</section>
