<section class="bg-dark">
      <div class="container">
	    <div class = "row">
	    	<div class = "col-sm">			
		    Healthcare and wellness-based applications. My educational background and experience is largely physics, mathematics, and statistics
                    based with the bulk of my past projects stemming from these areas. In this capacity I have extensive experience developing mathematical models and machine-learning
                    algorithms for various scientific applications, most notably the SuperCOOP project; a recreation of the 1972 Nobel Prize-winning BCS theory experiment.
                    Beyond the technical, I have a particular passion for working with people to find solutions and make data accessible and understandable to those
                    from from all manner of technical and non-technial backgrounds. I am currently in the midst of a BEd. program in an effort to learn more about I
                    can best combine
                    and place a particular emphasis on data visualizaion.
		    </div>
		    
		    <img src="img/Headshot.jpg" class="img-rounded" alt="">	
		</div>
	</div>
</section>
