<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Brandon Toushan</h1>
            <hr>
            <p>I am a Canada based <strong>student<strong>,<strong>mathematical physicist<strong> and <strong>aspiring data scientist<strong></p>.
            I have a particular interest in machine learning and finding data based soultions to real world problems. <strong>Scroll<strong> to learn more about me.
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
