<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Brandon Toushan</h1>
            <hr>
            <p>I am a Canada based <em>student</strong>,<em>mathematical physicist</em> and </em>aspiring data scientist</em>.
             I have a particular interest in healthcare and making using of machine learning algorithims to finding data based soultions to real world problems.<p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
