<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        
        
   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Queen's University</h3>
                  <p class="info">B.Computing (Biomedical Computing)<span>&bull;</span> <em class="date">Expected April 2019</em></p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>University of British Columbia</h3>
                  <p class="info">B.ASc in Electrical Engineering (Biomedical Specialization) <span>&bull;</span> <em class="date"> 2013-2016 (transferred)</em></p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->

      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Experience</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">
               <div class="twelve columns">
                  <h3>Laboratory for Percutaneous Surgery, Queen's University</h3>
                  <p class="info">Undergraduate Researcher <span>&bull;</span> <em class="date">May 2017 - Present</em></p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>Collins Lab, Montreal Neurological Institute, McGill University</h3>
                  <p class="info">Software Developer <span>&bull;</span> <em class="date">Mar 2018 - Aug 2018 & Dec 2018  - Present</em></p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>School of Computing, Queen's University</h3>
                  <p class="info">Teaching Assistant <span>&bull;</span> <em class="date">Sept 2017 - Present</em></p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>Verdure Imaging, Stockton, California</h3>
                  <p class="info">Medical Engineering Consultant <span>&bull;</span> <em class="date">Dec 2017 - Present</em></p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <h3>Haas Lab, Djavad Mowafaghian Centre for Brain Health, University of British Columbia</h3>
                  <p class="info">Engineering Research Intern <span>&bull;</span> <em class="date">Oct 2015 - May 2016</em></p>
               </div>
            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>C/C++, CMake & Doxygen</em></li>
                  <li><span class="bar-expand illustrator"></span><em>Python</em></li>
                  <li><span class="bar-expand css"></span><em>3D Slicer & PLUS Toolkit</em></li>
						<li><span class="bar-expand wordpress"></span><em>Translational Research</em></li>
						<li><span class="bar-expand html5"></span><em>Open-Source Software Engineering</em></li>
                  <li><span class="bar-expand jquery"></span><em>Machine & Deep Learning</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </div>
    </div>
</section>
